 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
      * {
        box-sizing: border-box;
      }
      body {
        font-size: 16px;
        font-family: "Oswald", sans-serif ;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1/1;
      }
      /* NAV START */
      nav{
        background-color: rgb(139, 140, 193);
        height: 10vh;
        border: 2px solid black;
      }
      nav a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 35px;
        
        }
              @media (width < 650px){
          nav a{
            font-size: 25px;
          }
        }
        
      nav > ul{
        width: 100%;
        display:flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
      }

    nav a:hover{
        transition: 250ms;
        transform: scale(1.3);
    }
    /* NAV END */
    /* HJEMMESIDE START */

    .grid-section{
        background-color: rgb(188, 231, 237);
        padding: 50px;
        padding-top: 0px;
        flex: 1 1 auto;
        
        
    }
    .info-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      background-color: rgb(161, 206, 224);
      padding: 20px;
      border-radius: 5%;     
    }
          @media (width < 800px){
          .info-grid{
            grid-template-columns: 1fr 1fr;
          }
        }
    .info-card{
      display: flex;
        background-color: rgb(139, 140, 193);
        border-radius: 10%;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 8px;
        
        
        
    }
    .info-pic{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .grid-section h3{
      padding: 20px;
    }
   
     h4{
      text-align: center;
      font-size: 20px;

    }
    h2{
      font-size: clamp(60px, 1.5vw ,30px);
      text-align: center;
    }
    .grid-section h3{
      text-align: center;
    }
    .info-pic img{
      box-shadow: 2px 2px 8px;
      
    }
    /* HJEMMESIDE END */
    /* FOOTER START */
    footer{
      display:flex;
      background-color: rgb(139, 140, 193);
      text-align:center ;
      align-items: center;
      height: 10vh;
      margin-top: auto;
      border: 2px solid black;
    }
    .footer-grid{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      
      
    }
    .info1{
      font-family: "Bebas Neue";
      font-size: clamp(20px, 15vw,30px);
    }
    .info2 ul{
      display: flex;
      flex-direction: row;
      font-size: clamp(20px, 1.5vw ,30px);
      gap: 100px;

    }
    .info2 a{
      text-decoration: none;
      color: black;
    }
    .info2 li:hover{
      transition: 250ms;
      transform: scale(1.3);
     }
     /* FOOTER END */

     /* TIMEPLAN START */

        td, th{
        border: 1px solid black;
        text-align: center;
        width: 15%;
        height: 150px;
       }
        table{
            border-collapse: collapse;
            width: 100%;
            border: solid black 2px;
            table-layout: fixed;
        }
        .timeplan-section{
            margin: auto;
            padding-bottom: 25px;
            background-color:rgb(188, 231, 237) ;
            padding: 100px;
            padding-top: 0px;
            min-height: 80vh;
            
        }
        h1{
            text-align: center;
        }
        table{
            background-color:whitesmoke;
        }
        #matte{
            background-color: lightgreen;
        }
        #rettslære{
            background: burlywood;
        }
        #økonomi{
            background-color: cornflowerblue;
        }
        #it{
            background-color: darkgreen;
        }
        #norsk{
            background: rgb(199, 70, 70);
        }
        #gym{
            background: lightblue;
        }
        #spansk{
            background-color: palevioletred;
        }
        #historie{
            background-color: bisque;
        }
        .storefri{
            background-color: azure;
        }
        #klasse{
          background-color: lightgoldenrodyellow;
        }
        .friminutt{
          height: 25px;
        }
        .uke td{
          height: 50px;
          width: 150px;
        }
        .storefri{
          height: 75px;
        }
        /* TIMEPLAN END */
        /* FAG START */
        .fag-section{
           background-color: rgb(188, 231, 237);
           padding-top: 10px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        }
        .fag-grid{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           gap: 20px;
           background-color: rgb(161, 206, 224);
           padding: 20px;
           border-radius: 5%;   
        }
              @media (width < 830px){
          .fag-grid{
            grid-template-columns: 1fr 1fr;
          }
        }
              @media (width < 650px){
          .fag-grid{
            grid-template-columns: 1fr;
          }
        }

        .fag-card{
        display: flex;
        text-align: center;
        align-items: center;
        box-shadow: 2px 2px 8px;
        
        }
        .fag-grid div:nth-child(9){
          grid-column: 2/4;
          justify-self: center;
        }
        .fag-section h3{
          text-align: center;
          padding-bottom: 10px;
        }
        .fag-card h4{
          padding: 20px;
        }
        /* FAG END */
        /* INT START */
        .int-grid{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          row-gap: 100px;
          padding: 20px;
          background-color: rgb(161, 206, 224);
          border: 10px solid rgb(139, 140, 193);
          }
                  @media (width < 800px){
          .int-grid{
            grid-template-columns: 1fr;
          }
        }
        .int-section{
          display: flex;
          background-color: rgb(188, 231, 237);
          padding: 100px;
          padding-bottom: 50px;
          padding-top: 0px;
          justify-content: center;
          align-items: center;
          
        }
      
        .main h1{
          font-size: 50px;
          padding-bottom: 10px;
        }
        .int-type{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(139, 140, 193);
          box-shadow: 2px 2px 8px;
          flex-direction: column;
          max-width: 500px;
          max-height: 500px;
          align-self: center;
          margin: 0 auto;
          
          
          
          
        }
        .int-type h3{
          text-align: center;
          font-size: calc(1vh + 0.5vw);
          
        }
        .int-bilde{
          padding: 20px;
          background-color: rgb(62, 118, 126);
          border-radius: 40%;
          
        }
        .int-bilde img{
          border-radius: 40%;
        }
        .int-section h1{
          padding: 50px;
        }

        /* INT END */
        /* GALLERI START */
        .galleri-section{
          background-color: rgb(161, 206, 224);
          border-radius: 10%;
          margin-bottom: 50px;
          margin-right: 50px;
          margin-left: 50px;
          }

        .galleri-grid{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          row-gap: 80px;
          padding: 70px;  
          gap: 50px;      
        }
        @media (width < 1000px){
          .galleri-grid{
            grid-template-columns: 1fr 1fr;
          }
        }
         @media (width < 600px){
          .galleri-grid{
            grid-template-columns: 1fr;
          }
        }
        .polaroid{
          display: flex;
          flex-direction: column;
          padding: 15px;
          padding-bottom: 30px;
          border: 3px solid black;
          background-color: white;
          margin: auto;
          box-shadow: 2px 2px 8px;
          

        }
        .galleri-grid div:nth-child(odd){
          margin: 20px;
        }
          
        body{
          background-color: rgb(188, 231, 237);
        }
        main h1{
          font-size: 75px;
          padding: 50px;
        }
        .polaroid h4{
          margin-top: 10px;
        }