 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
      * {
        box-sizing: border-box;
      }
      body {
        font-size: 16px;
        font-family: "Oswald", sans-serif ;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1/1;
      }
      /* NAV START */
      nav{
        background-color: rgb(139, 140, 193);
        height: 150px;
        border: 2px solid black;
      }
      nav a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 35px;
        
        }
      nav > ul{
        width: 100%;
        display:flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }

    nav a:hover{
        transition: 250ms;
        transform: scale(1.3);
    }
    /* NAV END */
    /* HJEMMESIDE START */

    main{
        background-color: rgb(56, 114, 164);
    }
    .grid-section{
        background-color: rgb(188, 231, 237);
        padding: 50px;
    }
    .info-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      background-color: rgb(161, 206, 224);
      padding: 20px;
      border-radius: 5%;        
    }
    .info-card{
      display: flex;
        background-color: rgb(139, 140, 193);
        border-radius: 10%;
        text-align: center;
        align-items: center;
        
    }
    .grid-section h3{
      padding: 20px;
    }
   
     h4{
      text-align: center;
      font-size: 20px;

    }
    h2{
      font-size: 60px;
      text-align: center;
    }
    .grid-section h3{
      text-align: center;
    }
    .info-pic img{
      height: 500px;
      
    }
    /* HJEMMESIDE END */
    /* FOOTER START */
    footer{
      background-color: rgb(139, 140, 193);
      text-align:center ;
      height: 150px;
      align-items: center;
    }
    .footer-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .info1{
      margin: auto;
      font-size: 30px;
      font-family: "Bebas Neue";
    }
    footer{
      display: flex;
      justify-content: space-around;
    }
    .info2 ul{
      display: flex;
      flex-direction: row;
      gap: 100px;
      font-size: 30px;

    }
    .info2 a{
      text-decoration: none;
      color: black;
    }
    .info2 li:hover{
      transition: 250ms;
      transform: scale(1.3);
     }
     /* FOOTER END */

     /* TIMEPLAN START */

        td, th{
        border: 1px solid black;
        padding: 20;
        text-align: center;
        width: 15%;
        }
        table{
            border-collapse: collapse;
            width: 100%;
            height: 1200px;
            border: solid black 2px;
        }
        .timeplan-section{
          max-width: 1500px;
          margin: auto;
        }
        h1{
            text-align: center;
        }
        table{
            background-color:whitesmoke;
        }
        .matte{
            background-color: lightgreen;
        }
        .rettslære{
            background: burlywood;
        }
        .økonomi{
            background: cornflowerblue;
        }
        .it{
            background: darkgreen
        }
        .norsk{
            background: rgb(199, 70, 70);
        }
        .gym{
            background: lightblue;
        }
        .spansk{
            background-color: palevioletred;
        }
        .historie{
            background-color: bisque;
        }
        .storefri{
            background-color: azure;
        }
        .klasse{
          background-color: lightgoldenrodyellow;
        }
        .friminutt{
          height: 50px;
        }
        .timeplan-section h3{
          text-align: center;
          padding: 20px;
        }
        .timeplan-section a{
          text-decoration: none;
          color: black;
        }
        .timeplan-section h3:hover{
          transition: 250ms;
          transform: scale(1.3);

        }