 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
      * {
        box-sizing: border-box;
      }
      body {
        font-size: 16px;
        font-family: "Oswald", sans-serif ;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1/1;
      }
      nav{
        background-color: rgb(135, 226, 205);
        height: 150px;
        border: 2px solid black;
      }
      nav a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 35px;
        
        }
      nav > ul{
        width: 100%;
        display:flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }

    nav a:hover{
        transition: 250ms;
        transform: scale(1.3);
    }

    main{
        background-color: rgb(56, 114, 164);
    }
    .grid-section{
        background-color: rgb(255, 255, 255);
        padding: 50px;
    }
    .info-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      background-color: rgb(165, 199, 212);
      padding: 20px;
      border-radius: 5%;        
    }
    .info-card{
      display: flex;
        background-color: rgb(103, 136, 173);
        border-radius: 10%;
        text-align: center;
        align-items: center;
        
    }
   
     h4{
      text-align: center;
      font-size: 20px;

    }
    h2{
      font-size: 60px;
      text-align: center;
    }
    .grid-section h3{
      text-align: center;
    }
    .info-pic img{
      height: 500px;
      
    }
    footer{
      background-color: rgb(139, 140, 193);
      text-align:center ;
      height: 150px;
      align-items: center;
    }
    .footer-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .info1{
      margin: auto;
      font-size: 30px;
      font-family: "Bebas Neue";
    }
    footer{
      display: flex;
      justify-content: space-around;
    }
    .info2 ul{
      display: flex;
      flex-direction: row;
      gap: 100px;
      font-size: 30px;

    }
    .info2 a{
      text-decoration: none;
      color: black;
    }
    .info2 a:hover{
      transition: 250ms;
      transform: scale(1.5);

    }